registry=https://artifactory.corp.clover.com/artifactory/api/npm/npm/
@clover-icons:registry="https://artifactory.corp.clover.com/artifactory/api/npm/npm-local/"
@clover-web-lib-sprout:registry="https://artifactory.corp.clover.com/artifactory/api/npm/npm-local/"