@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clover-throbber-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1000;
  background-color: #f9fafb;

  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-container {
  width: 150px;
  height: 150px;
  position: relative;
  animation: spin 3s linear infinite;
}

.clover-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#base-logo {
  opacity: 0.3;
  filter: grayscale(100%) brightness(1.5);
}

#fill-logo {
  clip-path: inset(100% 0 0 0);
}

.full {
  height: 100% !important;
  width: 100% !important;
}
